

html {
  height:100vh;
  margin: 0;
}

body {

  background-image: url("images/laptop-coffee.jpg");
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  
}

/* this is the header of the website, this will appear on every part of the site.*/
header {
  padding-bottom: 3em;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
 
  margin: 0;
  background-color:rgb(39, 39, 39);
}

nav ul li {
  padding: 1em;
}

a  {
  text-decoration: none;
  color: white;

  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  transition: all .4s;
}
a:hover {
  color:rgb(238, 93, 93);
  width: 60%;
  height: 60%; 
  transform: scale(1.1);

} 
a:active {
color: white;
}

/*This is the main text content on the page*/
.text-container {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: white;
}
.java-logo{
  color: white;
  
}
.nav-logo {
  color: white;
}


div {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* both .java-download and .big-button are within a regular div tag*/
.java-download { /* this is the list element*/
  
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5em;
  margin: auto;
  
}
.big-button { /* this is the "a" element*/
  background-color:rgb(238, 93, 93);
  border-radius: 4px;
  color: white;
  
  font-style: none;
  text-decoration: none;
  font-size: 44px;
  font-family: 'Montserrat', sans-serif;

  padding: 4px;
  transition: all 1s ease;
  transform: scale(1);
  
}

.big-button:hover {
  background: linear-gradient(270deg, #ec4242, #ec42c8, #9142ec, #ec8742);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
  color: white;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.footer-global {
  display: flex;
  
  justify-content: center;
  align-items: center;
  padding: 5px;
  list-style-type: none;
  text-decoration: none;
  
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 90px;

  background-color:rgb(39, 39, 39);
  
}
.footer-ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 2em;
}

.footer-ul li {
  padding: 2em;
}