body {
  height: 100vh;

  background-image: url("../images/laptop-coffee.jpg");
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;

  margin: 0;
}
/* this is the header of the website, this will appear on every part of the site.*/
header {
  width: 100%;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 3.5em;

  background-color:rgb(39, 39, 39);
}

nav ul li {
  padding: 1em;
}

a  {
  text-decoration: none;
  color: white;

  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  transition: all .4s;
}
a:hover {
  color:rgb(238, 93, 93);
  width: 60%;
  height: 60%; 
  transform: scale(1.1);

} 
a:active {
color: white;
}

/*This is the main text content on the page*/
.text-container {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: white;
}
.java-logo{
  color: white;
  
}


div {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* both .java-download and .big-button are within a regular div tag*/
.java-download { /* this is list element*/
  
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5em;
  margin: auto;
  
}
.big-button { /* this is the "a" element*/
  border: solid rgb(238, 93, 93) 5px;
  border-radius: 4px;
  color: white;
  background-color: rgb(238, 93, 93);

  font-style: none;
  text-decoration: none;
  font-size: 44px;
  font-family: 'Montserrat', sans-serif;

  padding: 4px;
}

.big-button:hover {
  color: white;
  border: solid 6px lightpink;
}
.footer-global {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  list-style-type: none;
  text-decoration: none;

  background-color:rgb(39, 39, 39);
  
}
.footer-ul {
  list-style-type: none;
  text-decoration: none;
  flex-direction: row;
  padding: 2.5em;
}